<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
    Hello <span><%= name %></span>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to Gsoft</p>
    </div>
</main>

<footer>
</footer>

</body>
</html>